//font weight 400,700
//Primary
$lime-green: hsl(163, 72%, 41%);
$brigh-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

//Dark Theme
$toggle-green:  hsl(146, 68%, 55%);
$toggle-dark: linear-gradient( hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$very-dark-blue-bg: hsl(230, 17%, 14%); //background
$very-dark-blue-dt-pattern: hsl(232, 19%, 15%); //Top BG Pattern
$dark-desaturated-blue: hsl(228, 28%, 20%); //Card BG
$desaturated-blue: hsl(228, 34%, 66%); //Text
$white: hsl(0, 0%, 100%); //text


//Light Theme
$toggle-light: hsl(230, 22%, 74%);

$white: hsl(0, 0%, 100%); //BG
$very-pale-blue: hsl(225, 100%, 98%); //Top BG Pattern
$light-grayish-blue: hsl(227, 47%, 96%); //Card BG
$dark-grayish-blue: hsl(228, 12%, 44%); //Text
$very-dark-blue-light: hsl(230, 17%, 14%);

body{
    font-family: 'Inter', sans-serif;
}
.dark-mode-body{
    background-color: $very-dark-blue-bg;   
}
.dark-mode-card{
    background-color: $dark-desaturated-blue !important;
}
.dark-mode-text {
    color: $white;
}

ul{
    list-style: none;
    padding: 0;;
}

.dashboard{
    padding: 15px;
    font-weight: 700;

    &__text{
        >h2{
            margin: 5px 0;
            font-size: 19px;
        }
        >p{
            font-weight: 700;
            font-size: 14px;
            color: $dark-grayish-blue;
            border-bottom: 1px solid  $dark-grayish-blue;
            padding-bottom: 15px;
            margin: 5px 0;
        }
    }
    &__switch-group{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin: 10px 0;
        >span{
            color: $dark-grayish-blue;
        }
    }

    &__switcher{
        position: relative;
        -webkit-appearance: none;
        outline: none;
        width: 43px;
        height: 20px;
        background-color: #fff;
        border: 3px solid $toggle-light;
        border-radius: 50px;
        box-shadow: inset 22px 0 $toggle-light;
        transition-duration: 200ms;

        &:checked{
            box-shadow: inset -22px 0 $toggle-green;
            border-color: $toggle-green;
            background-color: $dark-desaturated-blue;
            &:after{
                left: 1px
            }
        }
    }


}
.main-cards{
    padding: 15px;

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 900px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: $light-grayish-blue;
        padding: 20px 0;
        height: 50%;
        margin-bottom: 10px;
    }
}
.card{

    &__social{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__card-username{
        font-size: 16px;
        color: $dark-grayish-blue;
        font-weight: 700;
    }
    &__number{
        font-weight: 700;
        font-size: 52px;
        margin: 15px 0;
    }
    &__followers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__follow-text{
        letter-spacing: 5px;
        color: $dark-grayish-blue;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__icon-facebook{
        margin-right: 10px;
        display: inline-block;
        height: 23px;
        width: 23px;
        background-image: url(./images/icon-facebook.svg);
        background-repeat: no-repeat;
    }
   
}

.green{
    color: $lime-green;
    font-weight: 700;
    &::before{
        display: inline-block;
        content: "";
        width: 10px;
        height: 7px;
        background-image: url(./images/icon-up.svg);
        background-repeat: no-repeat;
    }
}
.red{
    font-weight: 700;
    color: $brigh-red;
    &::before{
        display: inline-block;
        content: "";
        width: 10px;
        height: 7px;
        background-image: url(./images/icon-down.svg);
        background-repeat: no-repeat;
    }
}

.overview{
    padding: 15px;

    >h2{
        margin: 5px 0;
        color: $dark-grayish-blue;
        font-weight: 700;
        font-size: 19px;
    }
}
.overview-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__card{
        padding: 20px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $light-grayish-blue;
        border-radius: 5px;
        
    }

}
.card{
   &__views{
       margin-bottom: 15px;
   }
    &__views, &__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }
    &__views-text{
        font-weight: 700;
        color: $dark-grayish-blue
    }
    
    &__info-number{
        font-weight: 700;
        font-size: 30px;
    }

   
}

.facebook{
    border-top: 3px solid $facebook;
}

.icon-facebook{
    margin-right: 10px;
    display: inline-block;
    height: 23px;
    width: 23px;
    background-image: url(./images/icon-facebook.svg);
    background-repeat: no-repeat;
}
.icon-instagram{
    margin-right: 10px;
    display: inline-block;
    height: 23px;
    width: 23px;
    background-image: url(./images/icon-instagram.svg);
    background-repeat: no-repeat;
}
.icon-twitter{
    margin-right: 10px;
    display: inline-block;
    height: 23px;
    width: 23px;
    background-image: url(./images/icon-twitter.svg);
    background-repeat: no-repeat;
}
.icon-youtube{
    margin-right: 10px;
    display: inline-block;
    height: 23px;
    width: 23px;
    background-image: url(./images/icon-youtube.svg);
    background-repeat: no-repeat;
}
.twitter{
    border-top: 3px solid $twitter
}
.instagram{
    border-top: 3px solid $instagram;
}
.youtube{
    border-top: 3px solid $youtube;
}


@media screen and (min-width: 1023px){


    .dashboard{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__text{
            >h2{
                font-size: 26px;
            }

            >p{

                border-bottom: none;
                font-size: 16px;
            }
        }
        &__switch-group{
            font-size: 16px;
            align-items: center;
        }
        
    }

    .main-cards{
        padding: 0;
        &__list{
            flex-direction: row;
            align-items: center;
            height: 100%;
            justify-content: space-around;
        }
        &__card{
            width: 23%;
        }
    }

    .overview-cards {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        &__card{
            width:20%;
        }
    }

}